<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Gestor de Documentos Dte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css} "/>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Documentos Dte</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-auto">
                    <label for="empresa" class="form-label">Empresa</label>
                    <select id="empresa" class="form-select" aria-label="Empresa">
                        <option selected>Seleccione</option>
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.razonSocial}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="tipo_documento" class="form-label">Tipo documento</label>
                    <select id="tipo_documento" class="form-select" aria-label="Tipo documento">
                        <option >Seleccione</option>
                        <option selected value="3">Factura electrónica</option>

                    </select>
                </div>
                <div class="col-auto">
                    <label for="folio" class="form-label">Folio documento</label>
                    <input id="folio" type="text" class="form-control"  placeholder="00000">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" onclick="traerDocumento();" >Ver Documento</button>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-auto">
                    <div id="rut_emisor" >Rut: emisor</div>
                    <div id="folio_emisor" >Folio:</div>
                    <div id="fecha_doc" >Fecha:</div>
                </div>
                <div class="col-auto">
                    <div id="cliente_nombre" >Cliente: receptor</div>
                    <div id="cliente_rut" >Rut: </div>
                    <div id="fecha_venc" >Fecha</div>
                </div>
                <div class="col-auto">
                    <div id="cliente_giro" ></div>
                    <div id="condic_venta" >Condiciones de venta: </div>
                    <div id="fecha_" ></div>
                </div>
                <div class="col-auto">
                    <div id="monto_iva" >Iva: </div>
                    <div id="total_doc" >Total: </div>
                    <div id="estado_doc" >Estado: </div>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-auto">
                    <button id="btnCambiofolio" disabled class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#changeFolioModal" >Cambiar folio</button>
                </div>
                <div class="col-auto">
                    <button id="btnDtePackSII" disabled class="btn btn-success btn-sm" onclick="llamada(1)" >Limpiar DtePackSII</button>
                </div>
                <div class="col-auto">
                    <button id="btnCrearXMLString" disabled class="btn btn-success btn-sm" onclick="llamada(2)" >Crear XML String</button>
                </div>
                <div class="col-auto">
                    <button id="btnCrearPDFString" disabled class="btn btn-success btn-sm" onclick="llamada(3)" >Crear PDF String</button>
                </div>
                <div class="col-auto">
                    <button id="btnEnviarPACK" disabled class="btn btn-success btn-sm" onclick="llamada(4)" >Enviar PACK Dte</button>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="table-responsive-sm">
                    <table id="tbDetalleDocumento" class="table table-sm table-light table-hover table-striped table-bordered border-secondary">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <!-- Modal -->
        <div class="modal fade" id="changeFolioModal" tabindex="-1" aria-labelledby="changeFolioModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeFolioModalLabel" >Cambiar folio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" readonly id="floatingInput" placeholder="0000" >
                                <label for="floatingInput">Folio</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newFloatingInput" placeholder="0000" onkeypress="return onlyNumberKey(event)" />
                                <label for="newFloatingInput">Nuevo Folio</label>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-success btn-sm" onclick="buscarDispoFolio()" >Folio disponible?</button>
                                <button type="button" class="btn btn-outline-success" onclick="cambiarFolio()" >Cambiar folio</button>
                            </div>
                            <div class="row mt-3">
                                <div id="folioDisponible" class="alert alert-success d-flex align-items-center" role="alert" style="visibility: hidden; position: absolute;" >
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                    <div>
                                        Folio disponible
                                    </div>
                                </div>
                                <div id="folioOcupado" class="alert alert-danger d-flex align-items-center" role="alert" style="visibility: hidden; position: absolute;" >
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>
                                        Folio ocupado
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--- <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>  -->
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/documentos_dte.js}"></script>
</html>