<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Gestor de Documentos Dte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css} "/>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Documentos Dte</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-auto">
                    <label for="empresa" class="form-label">Empresa</label>
                    <select id="empresa" class="form-select" aria-label="Empresa">
                        <option selected>Seleccione</option>
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.razonSocial}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="tipo_documento" class="form-label">Tipo documento</label>
                    <select id="tipo_documento" class="form-select" aria-label="Tipo documento">
                        <option >Seleccione</option>
                        <option selected value="3">Factura electrónica</option>

                    </select>
                </div>
                <div class="col-auto">
                    <label for="folio" class="form-label">Folio documento</label>
                    <input id="folio" type="text" class="form-control"  placeholder="00000">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" onclick="traerDocumento();" >Ver Documento</button>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-auto">
                    <div id="rut_emisor" >Rut: emisor</div>
                    <div id="folio_emisor" >Folio:</div>
                    <div id="fecha_doc" >Fecha:</div>
                </div>
                <div class="col-auto">
                    <div id="cliente_nombre" >Cliente: receptor</div>
                    <div id="cliente_rut" >Rut: </div>
                    <div id="fecha_venc" >Fecha</div>
                </div>
                <div class="col-auto">
                    <div id="cliente_giro" ></div>
                    <div id="condic_venta" >Condiciones de venta: </div>
                    <div id="fecha_" ></div>
                </div>
                <div class="col-auto">
                    <div id="monto_iva" >Iva: </div>
                    <div id="total_doc" >Total: </div>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="table-responsive-sm">
                    <table id="tbDetalleDocumento" class="table table-sm table-light table-hover table-striped table-bordered border-secondary">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </body>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--- <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>  -->
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/documentos_dte.js}"></script>
</html>