<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
  <head>
      <meta charset="UTF-8">
      <title>Jmapping Impuesto Único de Segunda Categoría</title>
  </head>
  <body>
    <h1>Jmapping a Impuesto Único de Segunda Categoría</h1>
    <div>
        <select id="selectAnio" >
            <option th:value="2023" th:text="2023"></option>
        </select>
        <select id="selectMeses" >
            <option>Mes</option>
            <option th:each="mes : ${meses}" th:value="${mes}" th:text="${mes}"></option>
        </select>
      <button id="btn-inicio" onclick="traerPagina();" >Traer</button>
    </div>
    <div id="select" style="padding-top:10px;" >
        SELECT top 200 Desde,Hasta, Factor, Monto, Rebaja, FechaVigencia, CodigoParametro, Tramo, DiasDesde, DiasHasta
        FROM dbo.ParametroRangoRemuneracion
        WHERE CodigoParametro = 'IU'
        ORDER BY FechaVigencia desc, Desde
    </div>
    <section>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#0099ff" fill-opacity="1" d="M0,64L30,96C60,128,120,192,180,197.3C240,203,300,149,360,144C420,139,480,181,540,213.3C600,245,660,267,720,272C780,277,840,267,900,245.3C960,224,1020,192,1080,197.3C1140,203,1200,245,1260,224C1320,203,1380,117,1410,74.7L1440,32L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
            </svg>
        </div>
    </section>
    <div id="resultado" style="padding-top:10px;" ></div>
  </body>

    <script th:inline="javascript">
      const traerPagina= async ()=>{
        ///alert("traerPagina");
        var elMes = document.getElementById("selectMeses");
        var value = elMes.value;
        var text = elMes.options[elMes.selectedIndex].text;

        //console.log(value);
        //console.log(text);
        //console.log(elMes.selectedIndex);
        //console.log(elMes);

        if(elMes.selectedIndex < 1){
            alert("Seleccione un mes");
            return;
        }

        let respuesta = await fetch(`/jsoup/`+elMes.selectedIndex, { method:"GET", } )
        .then((response) => {
            if(response.ok){
                return response.json().then(data => { return data });
           }else{
                throw Error(response.statusText);
                return null;
           }
        })
        .catch(err => {
            console.log(err);
            return err;
        });

        //console.log("respuesta");
        //console.log(respuesta);

        let resultado = document.getElementById("resultado");
        resultado.innerHTML = "INSERT INTO ParametroRangoRemuneracion <br>"
        + "(Desde,Hasta, Factor, Monto, Rebaja, FechaVigencia, CodigoParametro, Tramo, DiasDesde, DiasHasta) <br>"
        + "VALUES <br>";
        var elMesConsulta = "'2023-"+ (elMes.selectedIndex) + "-01'";
        respuesta.forEach( (item) =>{
            console.log(item);
            //document.write(item.desde);
            //document.write("<br>");
            resultado.innerHTML +=  "( " +item.desde
            +", "+item.hasta
            +", "+item.factor
            +", 0.00"
            +", "+item.rebaja
            +", CONVERT(datetime, "+elMesConsulta+", 111), 'IU', null, null, null),"
             +"<br>"
        });

      }

    </script>

</html>